[submodule "external/cpp-utils-lib"]
	path = external/cpp-utils-lib
	url = https://github.com/bigmat18/cpp-utils-lib.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
